#section6 {
  width: 100%;
  height: 100vh;
  z-index: 15000;
  h2 {
    width: 20%;
    height: 60px;
    margin-left: 80%;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
    background: #ddc4ff;
  }
  .footer {
    background-color: #efdbff;
    .top {
      height: 50vh;
      padding: 200px 50px;
      display: block;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .text1 {
        height: 45px;
        width: 100%;
        border-bottom: 1px solid #000;
        display: flex;
        .icon {
          margin-left: 30px;
          content: "";
          width: 30px;
          height: 30px;
          background-size: cover;
          margin-right: 10px;
          &.i1 {
            background-image: url("../assets/images/profileSkill/html5.png");
          }
          &.i2 {
            background-image: url("../assets/images/profileSkill/CSS3.png");
          }
          &.i3 {
            background-image: url("../assets/images/profileSkill/Javascript.png");
          }
          &.i4 {
            background-image: url("../assets/images/profileSkill/PHP.png");
          }
          &.i5 {
            background-image: url("../assets/images/profileSkill/React.png");
          }
          &.i6 {
            background-image: url("../assets/images/profileSkill/scss.png");
          }
          &.i7 {
            background-image: url("../assets/images/profileSkill/Vue.png");
          }
        }
        .icon_3 {
          content: "";
          width: 30px;
          height: 30px;
          background-size: cover;
          background-image: url("../assets/images/profileSkill/Javascript.png");
          margin-right: 10px;
        }
        p {
          font-size: 20px;
          margin-left: 20px;
        }
      }

      .text2 {
        margin-top: 20px;
        height: 45px;
        width: 100%;
        border-bottom: 1px solid #000;
        p {
          font-size: 20px;
          margin-left: 20px;
        }
      }
    }

    .bottom {
      height: 50vh;
      display: flex;
      justify-content: space-between;
      padding: 50px;
      align-items: flex-end;

      h1 {
        font-size: 200px;
        width: 60%;
        font-weight: 1000;
      }

      p {
        font-size: 20px;
        margin-bottom: 50px;
      }

      em {
        font-size: 20px;
        margin-bottom: 50px;
      }
    }
  }
}
