#section5 {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3000;
  overflow: hidden;

  h2 {
    width: 20%;
    height: 60px;
    margin-left: 60%;
    background-color: #f6a6bb;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
    display: inline-block;
    color: #000000;
  }

  .sec5-cont {
    height: 100%;
    background-color: #fae6e7;

    h3 {
      font-size: 2.4vw;
      padding: 2vw;
      background-color: #fae6e7;
    }

    .site-top {
      height: 30%;
      display: flex;
      flex-wrap: wrap;
      position: absolute;

      .site {
        width: 100vw;
        padding: 40px;
        position: relative;

        .right {
          width: 50%;
        }

        .left {
          width: 50%;

          p {
            width: 40%;
            font-size: 20px;
          }

          a {
            font-size: 20px;
            background-color: #fff;
            display: inline-block;
            border-radius: 100px;
            padding: 15px 40px;
            margin-top: 10px;
            color: #000;
            cursor: pointer;

            &:hover {
              background-color: #000;
              color: #fff;
            }
          }
        }

        &div {
          display: flex;
        }

        h4 {
          text-align: right;
          font-size: 90px;
          border-bottom: 1px solid #fff;
          padding-bottom: 40px;
          margin-bottom: 20px;
          margin-top: -70px;
        }
      }
    }

    .site-bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 49%;

      .tab-menu {
        height: 100%;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        width: 60%;
        justify-content: space-between;

        .tab-cont {
          border-radius: 10px;
          height: 450px;
          background-color: #fff;
          position: relative;

          &:hover {
            width: 360px;

            .cont .div_1 {
              display: none;
            }

            .cont .div_2 {
              display: block;
            }
          }

          .cont {
            height: 100%;
            width: 120px;

            .div_1 {
              p {
                padding: 30px;
                text-align: start;
                font-size: 25px;
                font-weight: bold;
                text-orientation: upright;
                transform: rotate(90deg);
              }
            }
          }

          .div_2 {
            padding: 40px;
            display: none;
            width: 300%;
            height: 100%;

            .icon {
              a {
                &::after {
                  position: absolute;
                  content: "";
                  width: 34px;
                  height: 34px;
                  transform: rotate(45deg);
                  left: 80%;
                  top: 9%;
                  object-position: center;
                  background-image: url("data:image/svg+xml,%3Csvg width='227' height='226' viewBox='0 0 227 226' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M112.998 225.359C175.051 225.359 225.355 175.055 225.355 113.002C225.355 50.9485 175.051 0.644531 112.998 0.644531C50.9446 0.644531 0.640625 50.9485 0.640625 113.002C0.640625 175.055 50.9446 225.359 112.998 225.359Z' fill='black' stroke='%23000001' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M113.357 225.359C175.41 225.359 225.714 175.055 225.714 113.002C225.714 50.9485 175.41 0.644531 113.357 0.644531C51.304 0.644531 1 50.9485 1 113.002C1 175.055 51.304 225.359 113.357 225.359Z' fill='black' stroke='%23000001' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M74 88L113 43L152 88' fill='black'/%3E%3Cpath d='M74 88L113 43L152 88' stroke='white' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M113 46V180' stroke='white' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                  background-size: cover;
                }
              }
            }

            img {
              width: 160px;
              position: absolute;
              left: 40px;
              bottom: 35px;
            }

            h6 {
              font-size: 18px;
              font-weight: 800;
              margin-bottom: 40px;
            }

            p {
              font-size: 25px;
              line-height: 1.5;
              margin-bottom: 25px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  #section5 {
    .sec5-cont {
      h3 {
        font-size: 25px;
      }
      .site-top {
        .site {
          .left {
            p {
              width: 100%;
            }
          }

          h4 {
            font-size: 60px;
          }
        }
      }

      .site-bottom {
        .tab-menu {
          width: 80%;

          .tab-cont {
            height: 340px;

            &:hover {
              width: 300px;
            }

            .div_2 {

              .icon {
                a {
                  &::after {
                    width: 25px;
                    height: 25px;
                  }
                }
              }

              img {
                width: 120px;
              }

              h6 {
                font-size: 15px;
                margin-bottom: 30px;
              }

              p {
                font-size: 17px;
                line-height: 1.2;
                margin-bottom: 20px;
              }

              em {
                font-size: 10px;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  #section5 {
    .sec5-cont {
      h3 {
        font-size: 25px;
      }
      .site-top {
        .site {
          .left {
            p {
              width: 100%;
            }
          }

          h4 {
            font-size: 60px;
          }
        }
      }

      .site-bottom {
        .tab-menu {
          width: 90%;

          .tab-cont {
            height: 340px;

            &:hover {
              width: 300px;
            }

            .div_2 {

              .icon {
                a {
                  &::after {
                    width: 25px;
                    height: 25px;
                  }
                }
              }

              img {
                width: 120px;
              }

              h6 {
                font-size: 15px;
                margin-bottom: 30px;
              }

              p {
                font-size: 17px;
                line-height: 1.2;
                margin-bottom: 20px;
              }

              em {
                font-size: 10px;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #section5 {
    .sec5-cont {
      h3 {
        font-size: 25px;
      }
      .site-top {
        .site {
          .left {
            p {
              width: 100%;
            }
          }

          h4 {
            font-size: 60px;
          }
        }
      }

      .site-bottom {
        .tab-menu {
          width: 95%;

          .tab-cont {
            height: 340px;

            &:hover {
              width: 260px;
            }

            .div_2 {

              .icon {
                a {
                  &::after {
                    width: 25px;
                    height: 25px;
                  }
                }
              }

              img {
                width: 120px;
              }

              h6 {
                font-size: 15px;
                margin-bottom: 30px;
              }

              p {
                font-size: 17px;
                line-height: 1.2;
                margin-bottom: 20px;
              }

              em {
                font-size: 10px;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  #section5 {
    h2 {
      display: none;
    }

    .sec5-cont {
      h3 {
        font-size: 18px;
      }

      .site-top {
        .site {
          h4 {
            margin-top: -20px;
            font-size: 40px;
          }

          >div {
            .left {
              p {
                font-size: 13px;
                width: 200%;
              }
            }
          }
        }
      }

      .site-bottom {
        .tab-menu {
          height: 100%;
          left: 50%;
          top: 15%;
          transform: translate(-50%, -50%);
          position: absolute;
          display: block;
          width: 100%;

          .tab-group {
            width: 100%;
            border-radius: 10px;
            height: 60px;
            position: relative;

            .tab-cont {
              width: 100%;
              width: 0px;

              .cont {
                width: 100vw;
                padding: 10px;
                display: flex;
                justify-content: center;

                // background-color: #fff;
                .div_1 {
                  display: none;
                }

                .div_2 {
                  width: 300px;
                  padding: 10px;
                  background-color: #fff;
                  border-radius: 10px;
                  height: 50px;
                  display: flex;
                  // justify-content: center;
                  position: relative;

                  .icon {
                    a {
                      &::after {
                        position: absolute;
                        content: "";
                        width: 25px;
                        height: 25px;
                        transform: rotate(45deg);
                        left: 90%;
                        top: 18%;
                        object-position: center;
                        background-image: url("data:image/svg+xml,%3Csvg width='227' height='226' viewBox='0 0 227 226' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M112.998 225.359C175.051 225.359 225.355 175.055 225.355 113.002C225.355 50.9485 175.051 0.644531 112.998 0.644531C50.9446 0.644531 0.640625 50.9485 0.640625 113.002C0.640625 175.055 50.9446 225.359 112.998 225.359Z' fill='black' stroke='%23000001' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M113.357 225.359C175.41 225.359 225.714 175.055 225.714 113.002C225.714 50.9485 175.41 0.644531 113.357 0.644531C51.304 0.644531 1 50.9485 1 113.002C1 175.055 51.304 225.359 113.357 225.359Z' fill='black' stroke='%23000001' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M74 88L113 43L152 88' fill='black'/%3E%3Cpath d='M74 88L113 43L152 88' stroke='white' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M113 46V180' stroke='white' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        background-size: cover;
                      }
                    }
                  }

                  p {
                    display: none;
                  }

                  em {
                    display: none;
                  }

                  img {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}