#section12 {
  width: 100vw;
  height: 100vh;
  z-index: 15000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 1200px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
    background: #89b8ff;
    em {
      font-size: 18px;
    }
  }
  .sec12-cont {
    width: 100vw;
    .sec12-cont_01 {
      width: 100vw;
      height: 93.5vh;
      background: #e1edff;
      position: relative;
      position: absolute;
      left: 0px;
      top: 60px;
      h3 {
        font-size: 2.4vw;
        padding: 60px;
        color: #000;
      }
      .top {
        z-index: 10000;
        height: 20vh;
        border-bottom: 3px solid #f1fffa;
        display: flex;
        flex-direction: column;
        padding-left: 7vw;
        justify-content: center;
      }
      .bottom {
        // padding: 40px 20px 20px 20px;
        padding: 40px 40px 0px 60px;
        // width: 20%;
        // flex-direction: column;
        display: flex;
        .left {
          position: relative;
          width: 50%;
          h5 {
            margin-top: 280px;
            font-size: 20px;
          }
          p {
            position: relative;
            width: 60%;
            color: #000;
            font-size: 25px;
            margin-top: 20px;
            z-index: 1;
          }
          //   a {
          //     font-size: 26px;
          //     background-color: #fff;
          //     color: #000;
          //     font-weight: bold;
          //     border-radius: 50px;
          //     padding: 10px 40px;
          //     display: inline-block;
          //     margin-top: 10px;
          //     margin-bottom: 80px;
          //     &:hover {
          //       background-color: #000;
          //       color: #fff;
          //     }
          //   }
        }
        .right {
          width: 50%;
          .img {
            position: absolute;
            left: 55%;
            top: 10%;
            // transform: translate(-50%, -50%);
            width: 780px;
            padding: 80px 80px;
            text-align: right;
            display: flex;
            color: #000;
            right: 0;
            font-size: 25px;
            font-weight: bold;
            line-height: 1.8;
            z-index: 0;
          }
        }
      }
    }
    .img.i_3 {
      display: block;
      width: 400px;
      position: absolute;
      left: -350px;
      top: 260px;
      p {
        font-size: 20px;
        margin-top: 15px;
      }
    }
    .img.i_4 {
      display: block;
      width: 400px;
      position: absolute;
      left: 100px;
      top: 260px;
      p {
        font-size: 20px;
        margin-top: 15px;
      }
    }
    .img.i_5 {
      display: block;
      width: 400px;
      position: absolute;
      left: 580px;
      top: 260px;
      p {
        font-size: 20px;
        margin-top: 15px;
      }
    }
    .img.i_6 {
      display: block;
      width: 400px;
      position: absolute;
      left: 1050px;
      top: 260px;
      p {
        font-size: 20px;
        margin-top: 15px;
      }
    }
    .img.i_7 {
      display: block;
      width: 400px;
      position: absolute;
      left: 1480px;
      top: 260px;
      p {
        font-size: 20px;
        margin-top: 15px;
      }
    }
  }
}
