//port2
#section5 {
  width: 100vw;
  height: 100vh;
  z-index: 10000;

  h2 {
    width: 300px;
    height: 60px;
    margin-left: 600px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
  }
}
.sec5-cont {
  width: 100vw;
  height: 97vh;
  background: #f5cce7;
  position: relative;
  h3 {
    font-size: 2.4vw;
    padding: 2vw;
    color: #fff;
  }
  .top {
    height: 30vh;
    border-bottom: 3px solid #f1fffa;
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
    padding-left: 50vw;

    h4 {
      font-size: 100px;
      line-height: 1.2;
      text-align: right;
      padding: 0 50px;
      margin-bottom: 2vw;
      font-weight: 600;
      color: #fff;
    }
  }
  .bottom {
    // padding: 40px 20px 20px 20px;
    padding: 40px 20px 20px 60px;
    // width: 20%;
    // flex-direction: column;
    display: flex;
    .left {
      width: 50%;
      p {
        width: 20%;
        color: #fff;
        font-size: 25px;
        margin-top: 90px;
      }
      a {
        font-size: 26px;
        background-color: #ffffff;
        color: #000000;
        font-weight: bold;
        border-radius: 50px;
        padding: 10px 40px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 80px;
        &:hover {
          background-color: #000000;
          color: #ffffff;
        }
      }
    }
    .right {
      width: 50%;
      p {
        width: 100%;
        padding: 80px 80px;
        text-align: right;
        display: flex;
        color: #fff;
        right: 0;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.8;
      }
    }
  }
  .img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#section6 {
  width: 100vw;
  height: 100vh;
  z-index: 11000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 600px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
  }
  .sec6-cont {
    width: 100vw;
    height: 95vh;
    background: #cce9f5;
  }
}
#section11 {
  width: 100vw;
  height: 100vh;
  z-index: 14000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 900px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
    background: #ee83ac;
  }
  .sec11-cont {
    width: 100vw;
    height: 95vh;
    background: #ffdfeb;
  }
}

#section12 {
  width: 100vw;
  height: 100vh;
  z-index: 15000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 1200px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
    background: #89b8ff;
    em {
      font-size: 18px;
    }
  }
  .sec12-cont {
    width: 100vw;
    height: 96vh;
    background: #e1edff;
  }
}

#section13 {
  width: 100vw;
  height: 100vh;
  z-index: 15000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 1500px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
    background: #e45454;
  }
  .sec13-cont {
    width: 100vw;
    height: 95vh;
    background: #ffc5c5;
  }
}
#section14 {
  width: 100vw;
  height: 100vh;
  z-index: 20000;
  background-color: #ccc;
}
#section15 {
  width: 100vw;
  height: 100vh;
  z-index: 20000;
  background-color: #bf5a5a;
}
