#section3 {
  width: 100%;
  height: 250vh;
  position: relative;
  z-index: 3000;
  overflow: hidden;

  h2 {
    width: 20%;
    height: 60px;
    margin-left: 20%;
    background-color: #ffeba5;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
    display: inline-block;
    color: #000000;
  }

  .sec3-cont {
    height: 100%;
    background-color: #f9b16e;

    h3 {
      font-size: 2.4vw;
      padding: 2vw;
      background-color: #fff3c7;
    }

    .site-wrap.s1 {
      // display: none;
      display: flex;
      flex-wrap: wrap;
      width: 400vh;

      .button1 {
        position: absolute;
        left: 5%;
        bottom: 42%;
        font-size: 14px;
        background-color: #fff;
        display: inline-block;
        border-radius: 100px;
        padding: 10px 20px;
        // margin-top: 10px;
        color: #000;
        cursor: pointer;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
      .button2 {
        position: absolute;
        left: 5%;
        bottom: 35%;
        font-size: 14px;
        background-color: #fff;
        display: inline-block;
        border-radius: 100px;
        padding: 10px 20px;
        // margin-top: 10px;
        color: #000;
        cursor: pointer;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }

      .site {
        width: 78.5vh;
        height: 78.5vh;
        background-color: #000;
        padding: 40px;
        position: relative;

        &.s1 {
          background-color: #f9b16e;
        }

        &.s2 {
          background-color: #f9a971;
        }

        &.s3 {
          background-color: #f8a174;
        }

        &.s4 {
          background-color: #f89977;
        }

        &.s5 {
          background-color: #f9b16e;
        }

        .right {
          width: 50%;

          img {
            width: 540px;
            position: absolute;
            left: 200px;
            bottom: 80px;
          }
        }

        .left {
          width: 50%;
          color: #fff;

          p {
            font-size: 16px;
            width: 70%;
          }
        }

        &div {
          display: flex;
        }

        h4 {
          text-align: right;
          font-size: 30px;
          color: #fff;
          border-bottom: 1px solid #fff;
          padding-bottom: 20px;
          margin-bottom: 20px;
          margin-top: 60px;
        }

        span {
          color: #fff;
          font-size: 23px;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  #section3 {
    .sec3-cont {
      h3 {
        font-size: 25px;
      }

      .site-wrap.s1 {
        width: 600vh;

        .button1 {
          bottom: 25%;

        }
        .button2 {

          bottom: 15%;

        }

        .site {
          .right {
            img {
              width: 380px;
              position: absolute;
              left: 160px;
              bottom: 25px;
            }
          }

          //수정
          h4 {
            margin-top: 40px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #section3 {
    h2 {
      display: none;
    }

    .sec3-cont {
      h3 {
        font-size: 18px;
      }

      .site-wrap.s1 {
        width: 800vw;

        a {
          font-size: 15px;
          left: 8%;
          bottom: 30%;
        }

        .site {
          width: 60vh;
          height: 100vh;
          padding: 40px;

          .right {
            img {
              width: 250px;
              left: 170px;
              bottom: 120px;
            }
          }

          .left {
            p {
              font-size: 14px;
            }
          }

          &div {
          }

          h4 {
            font-size: 24px;
          }

          span {
            color: #fff;
            font-size: 23px;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  #section3 {
    .sec3-cont {
      .site-wrap.s1 {
        width: 800vw;
      }
    }
  }
}

@media (max-width: 420px) {
  #section3 {
    h2 {
      display: none;
    }

    .sec3-cont {
      h3 {
        font-size: 18px;
      }

      .site-wrap.s1 {
        width: 1600vw;

        a {
          font-size: 15px;
          left: 8%;
          bottom: 30%;
        }

        .site {
          width: 60vh;
          height: 100vh;
          padding: 40px;

          .right {
            img {
              width: 250px;
              left: 170px;
              bottom: 120px;
            }
          }

          .left {
            p {
              font-size: 14px;
            }
          }

          &div {
          }

          h4 {
            font-size: 24px;
          }

          span {
            color: #fff;
            font-size: 23px;
          }
        }
      }
    }
  }
}
