#section5 {
  width: 100vw;
  height: 150vh;
  position: fixed;
  position: relative;

  .clip {
    position: absolute;
    width: 20%;
    height: 50px;
    background-color: rgba(193, 196, 235, 0.933);
    left: 0;
    top: -50px;
    border-radius: 0 20px 0 0;
    h5 {
      font-size: 25px;
      padding: 4% 10%;
      color: #fff;
    }
  }
}
.profile_last__inner {
  height: 150vh;
  background-color: rgba(193, 196, 235, 0.933);
  border-radius: 0% 2% 0% 0%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text1 {
    width: 100vw;
    padding: 2%;
    .text {
      // background-color: #ccc;
      text-align: center;
      h3 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 50px;
        text-transform: uppercase;
        span {
          font-size: 60px;
          font-style: italic;
          margin-right: 20px;
        }
      }
    }
  }
  .text_line {
    // background-color: #ccc;
    // height: 5vh;
    // margin: 10px 0;
    &::before {
      content: "";
      display: block;
      height: 2px;
      background-color: #eaf1ff;
      margin: 0px auto;
      width: 95%;
    }
  }
  .text3 {
    width: 35%;
    height: 70%;
    border-radius: 50px;
    background-color: #fff;
    > div {
      h3 {
        margin-top: 80px;
        font-size: 40px;
        color: #666666;
        padding: 50px;
        text-align: right;
      }
      p {
        text-align: start;
        line-height: 2;
        padding: 50px;
        color: #888787;
        .icon1 {
          position: relative;
          &::before {
            z-index: 1000;
            position: absolute;
            content: "";
            background-image: url(../assets/images/profilelast/html5.png);
            top: 0;
            left: 0;
            margin-left: -60px;
            background-size: cover;
            width: 40px;
            height: 40px;
          }
        }
        .icon2 {
          position: relative;
          &::before {
            z-index: 1000;
            position: absolute;
            content: "";
            background-image: url(../assets/images/profilelast/css3.png);
            top: 0;
            left: 0;
            margin-left: -60px;
            background-size: cover;
            width: 40px;
            height: 40px;
          }
        }
        .icon3 {
          position: relative;
          &::before {
            z-index: 1000;
            position: absolute;
            content: "";
            background-image: url(../assets/images/profilelast/javascript.png);
            top: 0;
            left: 0;
            margin-left: -60px;
            background-size: cover;
            width: 40px;
            height: 40px;
          }
        }
        .icon4 {
          position: relative;
          &::before {
            z-index: 1000;
            position: absolute;
            content: "";
            background-image: url(../assets/images/profilelast/php.png);
            top: 0;
            left: 0;
            margin-left: -60px;
            background-size: cover;
            width: 40px;
            height: 40px;
          }
        }
        .icon5 {
          position: relative;
          &::before {
            z-index: 1000;
            position: absolute;
            content: "";
            background-image: url(../assets/images/profilelast/react.png);
            top: 0;
            left: 0;
            margin-left: -60px;
            background-size: cover;
            width: 40px;
            height: 40px;
          }
        }
        .icon6 {
          position: relative;
          &::before {
            z-index: 1000;
            position: absolute;
            content: "";
            background-image: url(../assets/images/profilelast/vue.png);
            top: 0;
            left: 0;
            margin-left: -60px;
            background-size: cover;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    > div:nth-child(3) {
      .text3-1 {
        margin-left: 60px;
        font-size: 30px;
        em {
          font-weight: bold;
        }
      }
      .text3-2 {
        font-size: 20px;
      }
    }
  }
}
