#section4 {
  background-color: rgba(243, 245, 220, 0.933);
  width: 100vw;
  height: 180vh;
  position: fixed;
  position: relative;

  .clip {
    position: absolute;
    width: 20%;
    height: 50px;
    background-color: rgba(243, 245, 220, 0.933);
    left: 0;
    top: -50px;
    border-radius: 0% 20px 0 0;
    h5 {
      font-size: 25px;
      padding: 4% 10%;
    }
  }
}
.profile__inner {
  border-radius: 0% 2%;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
  padding: 10%;
  height: 180vh;
  align-items: center;
  // background-color: #fff;
  .text {
    width: 90%;
    background-color: #fff;
  }
}

// @media (min-width: 900px) {
//   .profile__inner {
//     border-radius: 0 2%;
//   }
// }
