#section4 {
  // background-color: #ccc;
  width: 100vw;
  height: 180vh;
  position: fixed;
  position: relative;
}
#profile {
  width: 100vw;
  height: 180vh;
  position: relative;
  // background-color: rgba(243, 245, 220, 0.933);
  .clip {
    position: absolute;
    width: 20%;
    height: 50px;
    background-color: rgba(243, 245, 220, 0.933);
    left: 384px;
    top: -0px;
    border-radius: 0% 20px 0 0;
    h5 {
      font-size: 25px;
      padding: 4% 10%;
    }
  }
}
.profile__inner {
  position: absolute;
  top: 50px;
  border-radius: 0% 2%;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
  padding: 10%;
  height: 180vh;
  align-items: center;
  background-color: rgba(243, 245, 220, 0.933);
  .text {
    width: 90%;
    // background-color: #fff;
    .text-1 {
      margin-bottom: 30vh;
      > div {
        h3 {
          font-size: 50px;
        }
      }
    }
  }
  img {
    object-fit: cover;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
    .box1 {
      width: 20vw;
      background-color: #fff;
      height: 40vh;
      margin-top: 50px;
      border-radius: 40px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 40px;
        background-size: cover;
      }
    }
    .box2 {
      width: 20vw;
      background-color: #ffffff;
      // border: 5px solid #acc1e018;
      height: 40vh;
      margin-top: 50px;
      border-radius: 40px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      text-align: start;
      h4 {
        font-size: 1.8em;
        margin-bottom: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }
      h5 {
        font-size: 2em;
        margin-top: 20px;
        span {
          font-size: 1.2em;
          font-weight: bold;
          color: #25557c;
          font-weight: bold;
        }
      }
      p {
        font-size: 0.9em;
        margin-top: auto;
        font-weight: 400;
      }
    }

    .box3 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20vw;
      background-color: #fff;
      height: 40vh;
      margin-top: 50px;
      border-radius: 40px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 40px;
        background-size: cover;
      }
    }
    .box4 {
      width: 20vw;
      background-color: #fff;
      height: 40vh;
      margin-top: 50px;
      border-radius: 40px;
      padding: 40px;

      h3 {
        margin-left: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.7 6.75C10.5333 6.61666 11.2833 6.81666 11.95 7.35C12.65 7.88333 13 8.56667 13 9.4C13 10.1667 12.7167 10.8333 12.15 11.4C11.5833 11.9667 10.9167 12.25 10.15 12.25C9.38333 12.25 8.75 11.9667 8.25 11.4C7.75 10.8 7.46667 10.1 7.4 9.3C7.26667 7.86667 7.31667 6.66667 7.55 5.7C7.78333 4.7 8.15 3.78333 8.65 2.95C9.01667 2.38333 9.5 1.83333 10.1 1.3C10.7333 0.766665 11.4 0.399998 12.1 0.199999C12.4667 0.0999982 12.6667 0.0833317 12.7 0.149999C12.7667 0.216665 12.8 0.433331 12.8 0.799997V1.35C12.8 1.75 12.7667 2 12.7 2.1C12.6667 2.16666 12.4667 2.26666 12.1 2.4C11.3667 2.66666 10.7833 3.16667 10.35 3.9C9.91667 4.63333 9.7 5.58333 9.7 6.75ZM2.8 6.75C3.63333 6.61666 4.38333 6.81666 5.05 7.35C5.75 7.88333 6.1 8.56667 6.1 9.4C6.1 10.1667 5.81667 10.8333 5.25 11.4C4.68333 11.9667 4.01667 12.25 3.25 12.25C2.48333 12.25 1.85 11.9667 1.35 11.4C0.85 10.8 0.566667 10.1 0.5 9.3C0.366667 7.86667 0.416667 6.66667 0.65 5.7C0.883334 4.7 1.25 3.78333 1.75 2.95C2.11667 2.38333 2.6 1.83333 3.2 1.3C3.83333 0.766665 4.5 0.399998 5.2 0.199999C5.56667 0.0999982 5.76667 0.0833317 5.8 0.149999C5.86667 0.216665 5.9 0.433331 5.9 0.799997V1.35C5.9 1.75 5.86667 2 5.8 2.1C5.76667 2.16666 5.56667 2.26666 5.2 2.4C4.46667 2.66666 3.88333 3.16667 3.45 3.9C3.01667 4.63333 2.8 5.58333 2.8 6.75Z' fill='black'/%3E%3C/svg%3E%0A");
        margin-bottom: 50px;
      }
      h5 {
        font-size: 1.2em;
        span {
          font-size: 1.3em;
          font-style: italic;
        }
      }
    }
    .box5 {
      width: 20vw;
      background-color: #fff;
      height: 40vh;
      margin-top: 50px;
      border-radius: 40px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 40px;
        // background-size: cover;
        object-position: center;
      }
    }
    .box6 {
      width: 20vw;
      background-color: #fff;
      height: 40vh;
      margin-top: 50px;
      border-radius: 40px;
    }
  }
}

// @media (min-width: 900px) {
//   .profile__inner {
//     border-radius: 0 2%;
//   }
// }
