#section5 {
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 600px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
  }
  .sec5-cont {
    width: 100vw;
    height: 95vh;
    background: #f5cce7;
  }
}

#section6 {
  width: 100vw;
  height: 100vh;
  z-index: 11000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 600px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
  }
  .sec6-cont {
    width: 100vw;
    height: 95vh;
    background: #855a76;
  }
}

#section7 {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 600px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
  }
  .sec7-cont {
    width: 100vw;
    height: 95vh;
    background: #855a76;
  }
}

#section8 {
  width: 100vw;
  height: 100vh;
  z-index: 13000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 600px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
  }
  .sec8-cont {
    width: 100vw;
    height: 95vh;
    background: #855a76;
  }
}

#section9 {
  width: 100vw;
  height: 100vh;
  z-index: 14000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 600px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
  }
  .sec9-cont {
    width: 100vw;
    height: 95vh;
    background: #855a76;
  }
}
#section10 {
  width: 100vw;
  height: 100vh;
  z-index: 14000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 600px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
  }
  .sec10-cont {
    width: 100vw;
    height: 95vh;
    background: #855a76;
  }
}
#section11 {
  width: 100vw;
  height: 100vh;
  z-index: 14000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 900px;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
    background: #943673;
  }
  .sec11-cont {
    width: 100vw;
    height: 95vh;
    background: #943673;
  }
}

#section12 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 3000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 600px;
    background-color: #9da2ec;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
    display: inline-block;
    color: #000000;
  }
}
#section13 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 3000;
  h2 {
    width: 300px;
    height: 60px;
    margin-left: 600px;
    background-color: #9da2ec;
    padding: 15px 0px 15px 40px;
    border-radius: 30px 30px 0 0;
    display: inline-block;
    color: #000000;
  }
}
#section14 {
  width: 100vw;
  height: 100vh;
  z-index: 14000;
}
